.header
{
	text-align:right;	
	margin-top:1em;
	margin-right:2em;
	margin-left:2em;
	padding-bottom:1em;
	border-bottom:4px solid black;
}
.hdr-elem
{
	font-weight:bold;
padding:0.5em;
border:2px solid black;
       text-decoration:none;
color:inherit;
}
.el-active
{
	background-color:black;
color:white;
}
.hdr-elem:active
{
	background-color:black;
color:white;
}
.hdr-elem:hover
{
cursor:pointer;
}
